.music {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid grey;
  cursor: pointer;
  &-active {
    background-color: #c2b5b5;
    width: 100%;
    border-radius: 1%;
    color: black;
  }
  &__title {
    white-space: nowrap;
  }
  &__number {
    margin: 0 20px;
  }
  &__img {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    margin-right: 30px;
    object-fit: cover;
  }
  &__duration {
    font-size: 12px;
    width: 100%;
    text-align: end;
    margin-right: 8px;
  }
}
