.control-panel {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__timer {
    font-size: 12px;
    font-weight: 200;
    color: #fffafa;
  }
  &__center {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.arrow {
  width: 40px;
  height: 40px;
  cursor: pointer;
  &-right {
    transform: rotate(180deg);
  }
}
