.playlist {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  margin: 25px 0;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.48);
  transition: 0.3s;

  :hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}
