* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  border-color: #000;
  margin-top: 25px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
